openstack-identity-api/v2.0/src/docbkx/wadl/identity-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent identity-admin.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xsi:schemaLocation="http://docs.openstack.org/identity/api/v2.0 ../xsd/api.xsd
		http://docs.openstack.org/common/api/v1.0 ../xsd/api-common.xsd
		http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd
		">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357">
        <resource id="version" path="v2.0">
            <method href="#getVersionInfo"/>
            <resource id="extensions" path="extensions">
                <method href="#listExtensions"/>
                <resource id="extension" path="{alias}">
                    <param name="alias" style="template"
                        type="xsd:string"/>
                    <method href="#getExtension"/>
                </resource>
            </resource>
            <resource id="tokens" path="tokens">
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="username" style="plain" required="true"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            ><para>Required. The user
                        name.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="password" style="plain" required="true"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            ><para>Required. The password of the
                            user.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="tenantName" style="plain" required="false"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            ><para>Optional. The tenant
                        name.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="tenantId" style="plain" required="false"
                    type="capi:UUID">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            ><para>Optional. The tenant
                        ID.</para></wadl:doc>
                </param>
                <method href="#authenticate"/>
                <resource id="tokenById" path="{tokenId}">
                    <param name="tokenId" style="template"
                        type="capi:UUID" required="true">
                        <doc>Required. The token ID.</doc>
                    </param>
                    <param name="belongsTo" style="query"
                        required="false" type="xsd:string">
                        <wadl:doc
                            xmlns="http://docbook.org/ns/docbook"
                            xml:lang="EN"><para>Validates that a token
                                has the specified tenant in scope, for
                                performance. Valid tokens are in the
                                   <code>/tokens/{tokenId}</code>
                                path. An itemNotFound
                                   (<code>404</code>) fault is
                                returned for a token that is not
                                valid.</para></wadl:doc>
                    </param>
                    <method href="#validateToken"/>
                    <method href="#checkToken"/>
                    <resource id="endpointsForToken" path="endpoints">
                        <method href="#listEndpointsForToken"/>
                    </resource>
                </resource>
            </resource>
            <resource id="users" path="users">
                <param name="X-Auth-Token" style="header"
                    type="xsd:string" required="true">
                    <doc>A valid authentication token for an
                        administrative user.</doc>
                </param>
                <resource id="name">
                    <param name="name" style="query" type="xsd:string"
                        required="true">
                        <doc>The user name.</doc>
                    </param>
                    <method href="#getUserByName"/>
                </resource>
                <resource id="userid" path="{user_id}">
                    <param name="user_id" style="template"
                        type="xsd:string" required="true">
                        <doc>The user ID.</doc>
                    </param>
                    <method href="#getUserById"/>
                    <resource id="userRoles" path="roles">
                        <method href="#listUserGlobalRoles"/>
                    </resource>
                </resource>
            </resource>
            <resource id="tenants" path="tenants">
                <param name="X-Auth-Token" style="header"
                    type="xsd:string" required="true">
                    <doc>A valid authentication token for an
                        administrative user.</doc>
                </param>
                <param name="marker" style="query" required="false"
                    type="xsd:string">
                    <doc>The ID of the last item in the previous
                        list.</doc>
                </param>
                <param name="limit" style="query" required="false"
                    type="xsd:int">
                    <doc>The page size. </doc>
                </param>
                <method href="#listTenants"/>
                <method href="#getTenantByName"/>
                <resource id="tenantById" path="{tenantId}">
                    <param name="tenantId" style="template"
                        type="xsd:string" required="true">
                        <doc>The tenant ID.</doc>
                    </param>
                    <method href="#getTenantById"/>
                    <resource id="usersForTenant" path="users">
                        <resource id="getTenantUser" path="{userId}">
                            <param name="userId" style="template"
                                type="xsd:string" required="true">
                                <doc>The user ID.</doc>
                            </param>
                            <resource id="userRolesForTenant"
                                path="roles">
                                <method
                                   href="#listRolesForUserOnTenant"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->

    <resource_type id="VersionDetails">
        <method href="#getVersionInfo"/>
    </resource_type>

    <resource_type id="ExtensionList">
        <doc xml:lang="EN" title="Extension List">
            <p xmlns="http://www.w3.org/1999/xhtml">A list of
                supported extensions. </p>
        </doc>
        <method href="#listExtensions"/>
    </resource_type>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- Version -->

    <method name="GET" id="getVersionInfo">
        <doc xml:lang="EN" title="Version Details">
            <p xmlns="http://www.w3.org/1999/xhtml">Gets detailed
                information about a specified version of the API. </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="capi:version">
                <param name="location" style="plain" type="xsd:anyURI"
                    required="true"
                    path="/capi:version/atom:link[@rel='self']/@href">
                    <link resource_type="#VersionDetails" rel="self"/>
                </param>
            </representation>
            <representation mediaType="application/json"/>
        </response> &commonFaults; &getFaults; </method>

    <!-- Extensions -->

    <method name="GET" id="listExtensions">
        <doc xml:lang="EN" title="List Extensions">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists supported
                extensions. </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="capi:extensions">
                <param name="next" style="plain" type="xsd:anyURI"
                    path="/capi:extensions/atom:link[@rel='next']/@href">
                    <link resource_type="#ExtensionList" rel="next"/>
                </param>
                <param name="previous" style="plain" type="xsd:anyURI"
                    path="/capi:extensions/atom:link[@rel='previous']/@href">
                    <link resource_type="#ExtensionList"
                        rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json"/>
        </response> &commonFaults; </method>
    <method name="GET" id="getExtension">
        <doc xml:lang="EN" title="Get Extension Details">
            <p xmlns="http://www.w3.org/1999/xhtml">Gets details about
                a specified extension. </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="capi:extension"/>
            <representation mediaType="application/json"/>
        </response> &commonFaults; &getFaults; </method>

    <!-- Token Operations -->

    <method name="POST" id="authenticate">
        <wadl:doc xml:lang="EN" title="Authenticate for Service API"
            xmlns="http://docbook.org/ns/docbook">
            <para class="shortdesc"> Authenticates and generates a
                token. </para>
            <para>Returns a token if successful. Each REST request
                against other services (or other calls on the Identity
                Service such as the GET /tenants call) requires the
                inclusion of a specific authorization token HTTP
                x-header, defined as X-Auth-Token. Clients obtain this
                token, along with the URL to other service APIs, by
                first authenticating against the Identity Service and
                supplying valid credentials. </para>
            <para>Client authentication is provided through a REST
                interface by using the POST method, with v2.0/tokens
                supplied as the path. A payload of credentials must be
                included in the body. </para>
            <para>The Identity Service is a RESTful web service. It is
                the entry point to all service APIs. To access the
                Identity Service, you must know the URL of the
                Identity Service. </para>
            <table rules="all">
                <caption>Authenticate Request Attributes</caption>
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>username</td>
                        <td>string</td>
                        <td>Required. The user name.</td></tr>
                    <tr><td>password</td>
                        <td>string</td><td>Required. The password of
                            the user.</td>
                    </tr>
                    <tr><td>tenantName</td><td>string</td><td>Optional.
                            The tenant name.</td></tr>
                    <tr><td>tenantId</td><td>UUID</td><td>Optional.
                            The tenant ID.</td></tr></tbody></table>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="identity:auth">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Authenticate for service API with credentials: JSON request">
                        <xsdxt:code
                            href="../samples/auth_credentials.json"/>
                    </xsdxt:sample>
                    <xsdxt:sample
                        title="Authenticate for service API with token: JSON request">
                        <xsdxt:code
                            href="../samples/auth_with_token.json"/>
                    </xsdxt:sample>
                </wadl:doc>

            </representation>
            <representation mediaType="application/xml"
                element="identity:auth">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Authenticate for service API with credentials: XML request">
                        <xsdxt:code
                            href="../samples/auth_credentials.xml"/>
                    </xsdxt:sample>
                    <xsdxt:sample
                        title="Authenticate for service API with token: XML request">
                        <xsdxt:code
                            href="../samples/auth_with_token.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation element="identity:auth"
                mediaType="application/x-www-form-urlencoded">
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="username" style="plain" required="true"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            ><para>Required. The user
                        name.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="password" style="plain" required="true"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            ><para>Required. The password of the
                            user.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="tenantName" style="plain" required="false"
                    type="xsd:string">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            ><para>Optional. The tenant
                        name.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="tenantId" style="plain" required="false"
                    type="capi:UUID">
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            ><para>Optional. The tenant
                        ID.</para></wadl:doc>
                </param>
            </representation>
        </request>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Authenticate for service API: JSON response">
                        <xsdxt:code href="../samples/auth.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:access">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Authenticate for service API: XML response">
                        <xsdxt:code href="../samples/auth.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        <response status="403">
            <representation mediaType="application/xml"
                element="identity:userDisabled"/>
            <representation mediaType="application/json"/>
        </response> &commonFaults; &getFaults; </method>
    <method name="GET" id="validateToken">
        <doc xml:lang="EN" title="Validate Token">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">
                Validates a token and confirms that it belongs to a
                specified tenant. Returns the permissions relevant to
                a particular client. </p>
            <p xmlns="http://www.w3.org/1999/xhtml">Valid tokens are
                in the <code>/tokens/{tokenId}</code> path. A user
                should expect an itemNotFound (<code>404</code>) fault
                for an token that is not valid. </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Validate token: JSON response">
                        <xsdxt:code
                            href="../samples/validatetoken.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:access">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Validate token: XML response">
                        <xsdxt:code
                            href="../samples/validatetoken.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <method name="HEAD" id="checkToken">
        <doc xml:lang="EN" title="Check Token">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">
                Validates a token and confirms that it belongs to a
                specified tenant, for performance. </p>
        </doc>
        <request> </request>
        <response status="200 203"/> &commonFaults; &getFaults; </method>
    <method name="GET" id="listEndpointsForToken">
        <doc xml:lang="EN" title="List Endoints for Token">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists the
                endpoints associated with a specified token. </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="List endpoints for token: JSON response">
                        <xsdxt:code href="../samples/endpoints.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:endpoints">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="List endpoints for token: XML response">
                        <xsdxt:code href="../samples/endpoints.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <!--User Operations-->

    <method name="GET" id="getUserByName">
        <doc xml:lang="EN" title="Get User Information by Name">
            <p xmlns="http://www.w3.org/1999/xhtml">Gets detailed
                information about a specified user by user name. </p>
        </doc>
        <!-- <request>
            <param name="name" style="query" type="xsd:string"
                required="true"><doc>The user name.</doc></param>
        </request> -->
        <response status="200 203">
            <representation mediaType="application/xml"
                element="identity:user">
                <doc>
                    <xsdxt:code href="../samples/user.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code href="../samples/user.json"/>
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <method name="GET" id="getUserById">
        <doc xml:lang="EN" title="Get User Information by ID">
            <p xmlns="http://www.w3.org/1999/xhtml">Gets detailed
                information about a specified user by user ID. </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="identity:user">
                <doc>
                    <xsdxt:code href="../samples/user.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code href="../samples/user.json"/>
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <method name="GET" id="listUserGlobalRoles">
        <doc xml:lang="EN" title="List User Global Roles">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">
                Lists global roles for a specified user. Excludes
                tenant roles. </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="List user global roles: JSON response">
                        <xsdxt:code href="../samples/roles.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:roles">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="List user global roles: XML response">
                        <xsdxt:code href="../samples/roles.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <!-- Tenant Operations -->

    <method name="GET" id="listTenants">
        <doc xml:lang="EN" title="List Tenants">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">
                Lists tenants to which the specified token has
                access.</p>
            <xsdxt:samples>
                <xsdxt:sample xmlns="http://docs.rackspace.com/api"
                    title="Tenants Request with Auth Token">
                    <xsdxt:code
                        href="../samples/tenants-request-JSON.txt"
                        language="text"/>
                </xsdxt:sample>
            </xsdxt:samples>
        </doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Get tenants: JSON response">
                        <xsdxt:code href="../samples/tenants.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:tenants">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Get tenants: XML response">
                        <xsdxt:code href="../samples/tenants.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>

        </response> &commonFaults; &getFaults; </method>
    <method name="GET" id="getTenantByName">
        <doc xml:lang="EN" title="Get Tenant Information by Name">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">
                Gets detailed information about a specified tenant by
                name. </p>
        </doc>
        <request>
            <param name="name" style="query" type="xsd:string"
                required="true">
                <doc>The name of the tenant.</doc>
            </param>
        </request>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Get tenant by name: JSON response">
                        <xsdxt:code href="../samples/tenant.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:tenant">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Get tenant by name: XML response">
                        <xsdxt:code href="../samples/tenant.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <method name="GET" id="getTenantById">
        <doc xml:lang="EN" title="Get Tenant Information by ID">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">
                Gets detailed information about a specified tenant by
                ID. </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Get tenant by ID: JSON response">
                        <xsdxt:code href="../samples/tenant.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:tenant">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Get tenant by ID: XML response">
                        <xsdxt:code href="../samples/tenant.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <method name="GET" id="listRolesForUserOnTenant">
        <doc xml:lang="EN" title="List Roles for User">
            <p xmlns="http://www.w3.org/1999/xhtml" role="shortdesc"
                >Lists roles for a specified user on a specified
                tenant. Excludes global roles. </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="List roles for user: JSON response">
                        <xsdxt:code href="../samples/roles.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:roles">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="List roles for user: XML response">
                        <xsdxt:code href="../samples/roles.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
</application>
