openstack-identity-api/v2.0/src/docbkx/wadl/identity.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2011-2013 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent identity.wadl                   -->
<!--*******************************************************-->
<!DOCTYPE application [
    <!ENTITY % common  SYSTEM "common.ent">
    %common;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:html="http://www.w3.org/1999/xhtml"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xsi:schemaLocation="http://docs.openstack.org/identity/api/v2.0 
                        ../xsd/api.xsd
                        http://docs.openstack.org/common/api/v1.0 
                        ../xsd/api-common.xsd
                        http://wadl.dev.java.net/2009/02 
                        http://www.w3.org/Submission/wadl/wadl.xsd">
    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->
    <!-- We should use SSL in production -->
    <resources base="http://localhost:5000">
        <resource id="version" type="#VersionDetails" path="v2.0/">
            <resource id="extensions" type="#ExtensionList"
                path="extensions">
                <resource id="extension" path="{alias}">
                    <param name="alias" style="template"
                        type="xsd:string"/>
                    <method href="#getExtension"/>
                </resource>
            </resource>
            <resource id="tokens" path="tokens">
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="username" style="template" required="true"
                    type="xsd:string"> <!--should be plain -->
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            ><para>Required. The user
                        name.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="password" style="template" required="true"
                    type="xsd:string"><!--should be plain -->
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            ><para>Required. The password of the
                            user.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="tenantName" style="template" required="false"
                    type="xsd:string"><!--should be plain -->
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            ><para>Optional. The tenant
                        name.</para></wadl:doc>
                </param>
                <param xmlns="http://wadl.dev.java.net/2009/02"
                    name="tenantId" style="template" required="false"
                    type="capi:UUID"><!--should be plain -->
                    <wadl:doc xmlns="http://docbook.org/ns/docbook"
                            ><para>Optional. The tenant
                        ID.</para></wadl:doc>
                </param>
                <method href="#authenticate"/>
            </resource>
            <resource id="tenants" path="tenants">
                <param name="X-Auth-Token" style="header"
                    type="xsd:string" required="true">
                    <doc>A valid admin authentication token.</doc>
                </param>
                <param name="marker" style="query" required="false"
                    type="xsd:string">
                    <doc>The ID of the last item in the previous
                        list.</doc>
                </param>
                <param name="limit" style="query" required="false"
                    type="xsd:int">
                    <doc>The page size. </doc>
                </param>
                <method href="#listTenants"/>
            </resource>
        </resource>
    </resources>

    <!--***************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->

    <resource_type id="VersionDetails">
        <method href="#getVersionInfo"/>
    </resource_type>
    <resource_type id="ExtensionList">
        <doc xml:lang="EN" title="Extension List">
            <p xmlns="http://www.w3.org/1999/xhtml"> A list of
                supported extensions. </p>
        </doc>
        <method href="#listExtensions"/>
    </resource_type>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- Version -->

    <method name="GET" id="getVersionInfo">
        <doc xml:lang="EN" title="Version Details">
            <p xmlns="http://www.w3.org/1999/xhtml"> Returns detailed
                information about this specific version of the API.
            </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="capi:version">
                <param name="location" style="template" type="xsd:anyURI"
                    required="true"
                    path="/capi:version/atom:link[@rel='self']/@href"><!--should be plain -->
                    <link resource_type="#VersionDetails" rel="self"/>
                </param>
            </representation>
            <representation mediaType="application/json"/>
        </response> &commonFaults; &getFaults; </method>

    <!-- Extensions -->

    <method name="GET" id="listExtensions">
        <doc xml:lang="EN" title="List Extensions">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists available
                extensions.</p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="capi:extensions">
                <param name="next" style="template" type="xsd:anyURI"
                    path="/capi:extensions/atom:link[@rel='next']/@href"><!--should be plain -->
                    <link resource_type="#ExtensionList" rel="next"/>
                </param>
                <param name="previous" style="template" type="xsd:anyURI"
                    path="/capi:extensions/atom:link[@rel='previous']/@href"><!--should be plain -->
                    <link resource_type="#ExtensionList"
                        rel="previous"/>
                </param>
            </representation>
            <representation mediaType="application/json"/>
        </response> &commonFaults; &getFaults; </method>
    <method name="GET" id="getExtension">
        <doc xml:lang="EN" title="Get Server Details">
            <p xmlns="http://www.w3.org/1999/xhtml">Gets details about
                a specified extension.</p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="capi:extension"/>
            <representation mediaType="application/json"/>
        </response> &commonFaults; &getFaults; </method>
    <!-- Token Operations -->
    <method name="POST" id="authenticate">
        <wadl:doc xml:lang="EN" title="Authenticate"
            xmlns="http://www.w3.org/1999/xhtml">
            <p role="shortdesc">Client authentication is provided
                through a ReST interface by using the POST method,
                with v2.0/tokens supplied as the path. A payload of
                credentials must be included in the body. See <a
                    href="../xsd/credentials.xsd">supported
                    credentials</a>. </p>
            <p>Each ReST request against the Identity Service requires
                the inclusion of a specific authorization token HTTP
                x-header, defined as X-Auth-Token. Clients obtain this
                token, along with the URL to other service APIs, by
                first authenticating against the Identity Service and
                supplying valid credentials. </p>
            <p>The Identity Service is a ReSTful web service. It is
                the entry point to all service APIs. To access the
                Identity Service, you must know the URL of the
                Identity Service. </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="identity:auth">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Authenticate with credentials: JSON request">
                        <xsdxt:code
                            href="../samples/auth_credentials.json"/>
                    </xsdxt:sample>
                </wadl:doc>

            </representation>
            <representation mediaType="application/xml"
                element="identity:auth">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Authenticate with credentials: XML request">
                        <xsdxt:code
                            href="../samples/auth_credentials.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="200 203">
            <representation mediaType="application/json"
                element="identity:access">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Authenticate with credentials: JSON response">
                        <xsdxt:code href="../samples/auth.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:access">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="Authenticate with credentials: XML response">
                        <xsdxt:code href="../samples/auth.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        <response status="403">
            <representation mediaType="application/json"
                element="identity:userDisabled"/>
        </response> &commonFaults; &getFaults; </method>
    <!-- Tenant Operations -->
    <method name="GET" id="listTenants">
        <wadl:doc title="List Tenants" xml:lang="EN"
            xmlns="http://www.w3.org/1999/xhtml">
            <p>Returns a list of tenants. </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"
                element="identity:tenants">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="List tenants: HTTP/JSON request">
                        <xsdxt:code
                            href="../samples/tenants-request-JSON.txt"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:tenants">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample
                        title="List tenants: HTTP/XML request">
                        <xsdxt:code
                            href="../samples/tenants-request-XML.txt"
                        />
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List tenants: JSON response">
                        <xsdxt:code href="../samples/tenants.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
            <representation mediaType="application/xml"
                element="identity:tenants">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List tenants: XML response">
                        <xsdxt:code href="../samples/tenants.xml"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
</application>
