openstack-identity-api/v2.0/src/docbkx/wadl/OS-KSADM-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2011-2013 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent OS-KSADM-admin.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [
<!ENTITY % common  SYSTEM "common.ent">
%common;
]>

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:OS-KSADM="http://docs.openstack.org/identity/api/ext/OS-KSADM/v1.0"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xsi:schemaLocation="http://docs.openstack.org/identity/api/v2.0 ../xsd/api.xsd
        http://docs.openstack.org/common/api/v1.0 ../xsd/api-common.xsd
        http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd
        http://docs.openstack.org/identity/api/ext/OS-KSADM/v1.0 ../xsd/OS-KSADM.xsd
        ">

    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
        <include href="../xsd/OS-KSADM.xsd"/>
    </grammars>
    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357">
        <resource id="version" path="v2.0">
            <param name="X-Auth-Token" style="header"
                type="xsd:string" required="true">
                <doc>A valid authentication token for an administrative user.</doc>
            </param>
            <resource id="users" path="users">
                <method href="#listUsers"/>
                <method href="#addUser"/>
                <resource id="userById" path="{userId}">
                    <param name="userId" style="template"
                        required="true" type="xsd:string">
                        <doc>The user ID.</doc>
                    </param>
                    <method href="#updateUser"/>
                    <method href="#deleteUser"/>

                    <resource id="userRoles" path="roles">
                        <param name="serviceId" style="query"
                            required="false" type="xsd:string">
                            <doc>The service ID.</doc>
                        </param>
                        <method href="#listUserRoles"/>
                        <resource id="user-roles-OS-KSADM"
                            path="OS-KSADM">
                            <resource id="userRoleById"
                                path="{roleId}">
                                <param name="roleId" style="template"
                                   type="xsd:string">
                                   <doc>The role ID.</doc>
                                </param>
                                <method href="#addUserRole"/>
                                <method href="#deleteUserRole"/>
                            </resource>
                        </resource>
                    </resource>

                    <resource id="user-OS-KSADM" path="OS-KSADM">
                        <resource id="enabled" path="enabled">
                            <method href="#setUserEnabled"/>
                        </resource>

                        <resource id="userCredentials"
                            path="credentials">
                            <method href="#addUserCredential"/>
                            <method href="#listCredentials"/>
                            <resource id="userCredentialsByType"
                                path="{credential-type}">
                                <param name="credentialType"
                                   style="template"
                                   type="OS-KSADM:extensibleCredentialsType"
                                   required="true">
                                   <doc>The credential type.</doc>
                                </param>
                                <method href="#updateUserCredential"/>
                                <method href="#deleteUserCredential"/>
                                <method href="#getUserCredential"/>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>

            <resource id="tenants" path="tenants">
                <method href="#addTenant"/>
                <resource id="tenantById" path="{tenantId}">
                    <param name="tenantId" style="template"
                        type="xsd:string">
                        <doc>The tenant ID.</doc>
                    </param>
                    <method href="#updateTenant"/>
                    <method href="#deleteTenant"/>
                    <resource id="usersForTenant" path="users">
                        <param name="marker" style="query"
                            required="false" type="xsd:string">
                            <doc>The ID of the last item in the
                                previous list.</doc>
                        </param>
                        <param name="limit" style="query"
                            required="false" type="xsd:int">
                            <doc>The page size. </doc>
                        </param>
                        <method href="#listUsersForTenant"/>
                        <resource id="userForTenant" path="{userId}">
                            <param name="userId" style="template"
                                type="xsd:string">
                                <doc>The user ID.</doc>
                            </param>
                            <resource id="userRolesForTenant"
                                path="roles">
                                <resource
                                   id="tenant-user-role-OS-KSADM"
                                   path="OS-KSADM">
                                   <resource
                                   id="userSpecificRoleForTenant"
                                   path="{roleId}">
                                   <param name="roleId"
                                   style="template" type="xsd:string">
                                   <doc>The role ID.</doc>
                                   </param>
                                   <method
                                   href="#addRolesToUserOnTenant"/>
                                   <method
                                   href="#deleteRoleFromUserOnTenant"
                                   />
                                   </resource>
                                </resource>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>

            <resource id="role-service-OS-KSADM" path="OS-KSADM">
                <resource id="roles" path="roles">

                    <param name="name" style="query" type="xsd:string"
                        required="true">
                        <doc>The role name.</doc>
                    </param>

                    <method href="#getRoleByName"/>
                    <resource id="roles_list">
                        <param name="serviceId" style="query"
                            required="false" type="xsd:string">
                            <doc>The service ID.</doc>
                        </param>
                        <method href="#listRoles"/>
                    </resource>
                    <method href="#addRole"/>
                    <resource id="roleId" path="{roleId}">
                        <param name="roleId" style="template"
                            type="xsd:string">
                            <doc>The role ID.</doc>
                        </param>
                        <method href="#getRole"/>
                        <method href="#deleteRole"/>
                    </resource>
                </resource>
                <resource id="services" path="services">
                    <param name="marker" style="query"
                        required="false" type="xsd:string">
                        <doc>The ID of the last item in the previous
                            list.</doc>
                    </param>
                    <param name="limit" style="query" required="false"
                        type="xsd:int">
                        <doc>The page size. </doc>
                    </param>
                    <method href="#listServices"/>
                    <method href="#addService"/>

                    <resource id="serviceName">
                        <param name="name" style="query"
                            type="xsd:string" required="true">
                            <doc>The service name.</doc>
                        </param>

                        <method href="#getServiceByName"/>
                    </resource>
                    <resource id="serviceId" path="{serviceId}">
                        <param name="serviceId" style="template"
                            type="xsd:string">
                            <doc>The service ID.</doc>
                        </param>
                        <method href="#getService"/>
                        <method href="#deleteService"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- Tenant Operations -->
    <method name="POST" id="addTenant">
        <doc xml:lang="EN" title="Add Tenant">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">
                Creates a tenant. </p>
        </doc>
        <request>
            <representation mediaType="application/xml"
                element="identity:tenant">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/tenantwithoutid.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/tenantwithoutid.json"
                    />
                </doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/xml"
                element="identity:tenant">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/tenant.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/tenant.json"
                    />
                </doc>
            </representation>
        </response> &commonFaults; &postPutFaults; </method>

    <method name="POST" id="updateTenant">
        <doc xml:lang="EN" title="Update Tenant">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">
                Updates a tenant. </p>
        </doc>
        <request>
            <representation mediaType="application/xml"
                element="identity:tenant">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/tenant.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/tenant.json"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml"
                element="identity:tenant">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/tenant.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/tenant.json"
                    />
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; &postPutFaults; </method>

    <method name="DELETE" id="deleteTenant">
        <doc xml:lang="EN" title="Delete Tenant">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">
                Deletes a tenant. </p>
        </doc>
        <response status="204"/> &commonFaults; &getFaults; </method>

    <method name="GET" id="listUsersForTenant">
        <doc xml:lang="EN" title="List Users for a Tenant">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc"
                >Lists all the users for a tenant.</p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="identity:users">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/users.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/users.json"
                    />
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="PUT" id="addRolesToUserOnTenant">
        <doc xml:lang="EN" title="Add Roles to User on Tenant">
            <p xmlns="http://www.w3.org/1999/xhtml">Adds a specified
                role to a user for a tenant.</p>
        </doc>
        <response status="201"/> &commonFaults; &postPutFaults;
        &getFaults; </method>

    <method name="DELETE" id="deleteRoleFromUserOnTenant">
        <doc xml:lang="EN"
            title="Delete Roles from User on Tenant">
            <p xmlns="http://www.w3.org/1999/xhtml">Deletes a
                specified role from a user on a tenant.</p>
        </doc>
        <response status="204"/> &commonFaults; &getFaults; </method>

    <!-- User Operations -->
    <method name="GET" id="listUsers">
        <doc xml:lang="EN" title="List Users">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists users.</p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="identity:userss">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/users.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/users.json"
                    />
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="POST" id="addUser">

        <wadl:doc xml:lang="EN" title="Add User"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Adds a user.</para>
            <table rules="all">
                <caption>Add User Request Attributes</caption>
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>user</td>
                        <td>string</td>
                        <td>Required. The user name.</td></tr>
                </tbody></table>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="identity:user">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/userwithoutid.xml"/>
                </doc>
                <param name="user" style="plain" path="/identity:user"
                    type="OS-KSADM:UserForCreate"><doc>The name for the user.</doc></param>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/userwithoutid.json"
                    />
                </doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/xml"
                element="identity:user">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/user.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/user.json"/>
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; &postPutFaults; </method>

    <method name="POST" id="updateUser">
        <doc xml:lang="EN" title="Update User">
            <p xmlns="http://www.w3.org/1999/xhtml">Updates a
                user.</p>
        </doc>
        <request>
            <representation mediaType="application/xml"
                element="identity:user">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/user.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/user.json"/>
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml"
                element="identity:user">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/user.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/user.json"/>
                </doc>
            </representation>
        </response> &commonFaults; &postPutFaults; &getFaults; </method>

    <method name="DELETE" id="deleteUser">
        <doc xml:lang="EN" title="Delete User">
            <p xmlns="http://www.w3.org/1999/xhtml">Deletes a
                user.</p>
        </doc>
        <response status="204"/> &commonFaults; &getFaults; </method>

    <method name="PUT" id="setUserEnabled">
        <wadl:doc xml:lang="EN" title="Enable User"
            xmlns="http://docbook.org/ns/docbook">
            <para role="shortdesc">Enables a specified user.</para>
            <table rules="all">
                <caption>Enable User Request Attributes</caption>
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>user</td>
                        <td>string</td>
                        <td>Required. The user name.</td></tr>
                </tbody></table>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                element="identity:user">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/userwithenabledonly.xml"
                    />
                </doc>
                <param name="user" style="plain" path="/identity:user"
                    type="OS-KSADM:UserWithOnlyEnabled"><doc>The user name.</doc></param>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/userwithenabledonly.json"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml"
                element="identity:user">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/user.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/user.json"/>
                </doc>
            </representation>
        </response> &commonFaults; &postPutFaults; &getFaults; </method>

    <!-- User Roles -->
    <method name="GET" id="listUserRoles">
        <doc xml:lang="EN" title="List Global Roles for User">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc"
                >Lists global roles for a specified user.</p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="identity:roles">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/roles.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/roles.json"
                    />
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="PUT" id="addUserRole">
        <doc xml:lang="EN" title="Add Global Role to User">
            <p xmlns="http://www.w3.org/1999/xhtml">Adds a specific
                global role to a user.</p>
        </doc>
        <response status="201"/> &commonFaults; &postPutFaults;
        &getFaults; </method>

    <method name="DELETE" id="deleteUserRole">
        <doc xml:lang="EN" title="Delete Global Role from User">
            <p xmlns="http://www.w3.org/1999/xhtml">Deletes a specific
                global role from a user.</p>
        </doc>
        <response status="204"/> &commonFaults; &getFaults; </method>

    <!-- User Credentials -->
    <method name="POST" id="addUserCredential">
        <doc xml:lang="EN" title="Add User Credentials">
            <p xmlns="http://www.w3.org/1999/xhtml">Adds a credential
                to a user.</p>
        </doc>
        <request>
            <representation mediaType="application/xml"
                element="identity:credential">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/passwordcredentials.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/passwordcredentials.json"
                    />
                </doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/xml"
                element="identity:credential">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/passwordcredentials.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/passwordcredentials.json"
                    />
                </doc>
            </representation>
        </response> &commonFaults; &postPutFaults; &getFaults; </method>

    <method name="GET" id="listCredentials">
        <doc xml:lang="EN" title="List Credentials">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists
                credentials.</p>
        </doc>

        <response status="200 203">
            <representation mediaType="application/xml"
                element="identity:credentials">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/credentials.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/credentials.json"/>
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="POST" id="updateUserCredential">
        <doc xml:lang="EN" title="Update User Credentials">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc"
                >Updates credentials for a specified user.</p>
        </doc>
        <request>
            <representation mediaType="application/xml"
                element="identity:credential">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/passwordcredentials.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/passwordcredentials.json"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml"
                element="identity:credential">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/passwordcredentials.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/passwordcredentials.json"
                    />
                </doc>
            </representation>
        </response> &commonFaults; &postPutFaults; &getFaults; </method>

    <method name="DELETE" id="deleteUserCredential">
        <doc xml:lang="EN" title="Delete User Credentials">
            <p xmlns="http://www.w3.org/1999/xhtml">Deletes
                credentials for a specified user.</p>
        </doc>
        <response status="204"/> &commonFaults; &postPutFaults;
        &getFaults; </method>

    <method name="GET" id="getUserCredential">
        <doc xml:lang="EN" title="Get User Credentials">
            <p xmlns="http://www.w3.org/1999/xhtml">Gets user
                credentials.</p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="identity:credential">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/passwordcredentials.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/passwordcredentials.json"
                    />
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <!-- Roles -->
    <method name="GET" id="listRoles">
        <doc xml:lang="EN" title="List Roles">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists roles.</p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="identity:roles">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/roles.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/roles.json"
                    />
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>

    <method name="POST" id="addRole">
        <doc xml:lang="EN" title="Add Role">
            <p xmlns="http://www.w3.org/1999/xhtml">Adds a role.</p>
        </doc>
        <request>
            <representation mediaType="application/xml"
                element="identity:role">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/role.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/role.json"/>
                </doc>
            </representation>
        </request>
        <response status="201">
            <param name="Location" type="xsd:anyURI"
                style="header"><doc>The location.</doc></param>
            <representation mediaType="application/xml"
                element="identity:role">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/role.xml"/>
                </doc> 
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/role.json"/>
                </doc>
            </representation>
        </response> &commonFaults; &postPutFaults; &getFaults; </method>

    <method name="GET" id="getRoleByName">
        <doc xml:lang="EN" title="Get Role by Name">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc"
                >Gets a role by name.</p>
        </doc>

        <response status="200 203">
            <param name="Location" type="xsd:anyURI"
                style="header"><doc>The location.</doc></param>
            <representation mediaType="application/xml"
                element="identity:role">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/role.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/role.json"/>
                </doc>
            </representation>
        </response> &commonFaults; &postPutFaults; &getFaults; </method>

    <method name="GET" id="getRole">
        <doc xml:lang="EN" title="Get Role">
            <p xmlns="http://www.w3.org/1999/xhtml">Gets a role.</p>
        </doc>
        <response status="200 203">
            <param name="Location" type="xsd:anyURI"
                style="header"><doc>The location.</doc></param>
            <representation mediaType="application/xml"
                element="identity:role">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/role.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/role.json"/>
                </doc>
            </representation>
        </response> &commonFaults; &postPutFaults; &getFaults; </method>

    <method name="DELETE" id="deleteRole">
        <doc xml:lang="EN" title="Delete Role">
            <p xmlns="http://www.w3.org/1999/xhtml">Deletes a
                role.</p>
        </doc>
        <response status="204"/> &commonFaults; &getFaults; </method>

    <!-- Service Operations -->
    <method name="GET" id="listServices">
        <doc xml:lang="EN" title="List Services">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists
                services.</p>
        </doc>

        <response status="200 203">
            <representation mediaType="application/xml"
                element="OS-KSADM:services">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/services.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/services.json"/>
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <method name="GET" id="getServiceByName">
        <doc xml:lang="EN" title="Get Service by Name">
            <p xmlns="http://www.w3.org/1999/xhtml">Gets a service by
                name.</p>
        </doc>

        <response status="200 203">
            <representation mediaType="application/xml"
                element="OS-KSADM:service">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/service.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/service.json"/>
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <method name="GET" id="getService">
        <doc xml:lang="EN" title="Get Service">
            <p xmlns="http://www.w3.org/1999/xhtml">Gets a
                service.</p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="OS-KSADM:service">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/service.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/service.json"/>
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <method name="POST" id="addService">
        <doc xml:lang="EN" title="Add Service">
            <p xmlns="http://www.w3.org/1999/xhtml">Adds a
                service.</p>
        </doc>
        <request>
            <representation mediaType="application/xml"
                element="OS-KSADM:service">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/service.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/service.json"/>
                </doc>
            </representation>
        </request>
        <response status="201">
            <param name="Location" type="xsd:anyURI"
                style="header"><doc>The location.</doc></param>
            <representation mediaType="application/xml"
                element="OS-KSADM:service">
                <doc xml:lang="EN">
                    <xsdxt:code href="../OS-KSADM/samples/service.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../OS-KSADM/samples/service.json"/>
                </doc>
            </representation>
        </response> &commonFaults; &postPutFaults; &getFaults; </method>
    <method name="DELETE" id="deleteService">
        <doc xml:lang="EN" title="Delete Service">
            <p xmlns="http://www.w3.org/1999/xhtml">Deletes a
                service.</p>
        </doc>
        <response status="204"/> &commonFaults; &getFaults; </method>
</application>
