openstack-identity-api/v2.0/src/docbkx/wadl/OS-KSVALIDATE-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entites with xmllint          -->
<!--                                                       -->
<!--        xmllint -noent OS-KSVALIDATE-admin.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [
<!ENTITY % common  SYSTEM "common.ent">
    %common;
]>

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v2.0"
    xmlns:OS-KSVALIDATE="http://docs.openstack.org/identity/api/ext/OS-KSVALIDATE/v1.0"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xsi:schemaLocation="http://docs.openstack.org/identity/api/v2.0 ../xsd/api.xsd
        http://docs.openstack.org/common/api/v1.0 ../xsd/api-common.xsd
        http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd
    ">

    <grammars>
        <include href="../xsd/api.xsd"/>
        <include href="../xsd/api-common.xsd"/>
    </grammars>

    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357">
        <resource id="version" path="v2.0">
            <resource id="extension" path="OS-KSVALIDATE">
                <resource id="token" path="token">
                    <resource id="validate" path="validate">
                        <param name="X-Auth-Token" style="header"
                            type="xsd:string" required="true">
                            <doc>A valid authentication token for an
                                administrative user.</doc>
                        </param>
                        <param name="X-Subject-Token" style="header"
                            type="xsd:string" required="true">
                            <doc>A valid authentication token.</doc>
                        </param>
                        <param name="belongsTo" style="query"
                            required="false" type="xsd:string">
                            <wadl:doc
                                xmlns="http://docbook.org/ns/docbook"
                                xml:lang="EN"><para>Validates that a
                                   token has the specified tenant in
                                   scope, for performance. Valid
                                   tokens are in the
                                   <code>/tokens/{tokenId}</code>
                                   path. An itemNotFound
                                   (<code>404</code>) fault is
                                   returned for a token that is not
                                   valid.</para></wadl:doc>
                        </param>
                        <param name="HP-IDM-serviceId" style="query"
                            type="xsd:string" required="false"/>
                        <method href="#validateToken"/>
                        <method href="#checkToken"/>
                    </resource>
                    <resource id="endpointsForToken" path="endpoints">
                        <param name="X-Auth-Token" style="header"
                            type="xsd:string" required="true">
                            <doc>A valid authentication token for an
                                administrative user.</doc>
                        </param>
                        <param name="X-Subject-Token" style="header"
                            type="xsd:string" required="true">
                            <doc>A valid authentication token.</doc>
                        </param>
                        <param name="HP-IDM-serviceId" style="query"
                            type="xsd:string" required="false">
                            <doc>A comma-separated string of service
                                IDs. Checks the roles against the
                                specified service IDs. If a service ID
                                is not valid or if no roles are
                                associated with a service ID, a 401
                                fault is returned.</doc>
                        </param>
                        <method href="#listEndpointsForToken"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!-- Token Operations -->
    <method name="GET" id="validateToken">
        <doc xml:lang="EN" title="Validate Token">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">
                Checks that a token is valid and that it belongs to a
                specified tenant and service IDs. Returns the
                permissions for a particular client. </p>
            <p xmlns="http://www.w3.org/1999/xhtml">Behavior is
                similar to <code>/tokens/{tokenId}</code>. An
                itemNotFound (<code>404</code>) fault is returned for
                a token that is not valid. </p>
            <p xmlns="http://www.w3.org/1999/xhtml">This extension
                might decrypt 'X-Subject-Token' header and internally
                call the normal validation for the Identity Service,
                passing in all headers and query parameters. It should
                therefore support all existing calls on
                    <code>/tokens/{tokenId}</code>, including
                extensions such as HP-IDM. </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="identity:access">
                <doc>
                    <xsdxt:code
                        href="../OS-KSVALIDATE/samples/validatetoken.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code
                        href="../OS-KSVALIDATE/samples/validatetoken.json"
                    />
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
    <method name="HEAD" id="checkToken">
        <doc xml:lang="EN" title="Check Token">
            <p xmlns="http://www.w3.org/1999/xhtml" class="shortdesc">
                Checks that a token is valid and that it belongs to a
                specified tenant and service IDs, for performance.</p>
            <p xmlns="http://www.w3.org/1999/xhtml">Behavior is
                similar to <code>/tokens/{tokenId}</code>. An
                itemNotFound (<code>404</code>) fault is returned for
                a token that is not valid. </p>
            <p xmlns="http://www.w3.org/1999/xhtml">This extension
                might decrypt 'X-Subject-Token' header and internally
                call the normal validation for the Identity Service,
                passing in all headers and query parameters. It should
                therefore support all existing calls on
                    <code>/tokens/{tokenId}</code>, including
                extensions such as HP-IDM.</p>
        </doc>
        <response status="200 203"/> &commonFaults; &getFaults; </method>
    <method name="GET" id="listEndpointsForToken">
        <doc xml:lang="EN" title="List Endpoints for a Token">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists endpoints
                associated with a specific token. </p>
        </doc>
        <response status="200 203">
            <representation mediaType="application/xml"
                element="identity:endpoints">
                <doc>
                    <xsdxt:code
                        href="../OS-KSVALIDATE/samples/endpoints.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc>
                    <xsdxt:code
                        href="../OS-KSVALIDATE/samples/endpoints.json"
                    />
                </doc>
            </representation>
        </response> &commonFaults; &getFaults; </method>
</application>
