openstack-identity-api/v3/src/wadl/identity-admin.wadl

<?xml version="1.0" encoding="UTF-8"?>
 <!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->
<!--*******************************************************-->
<!-- Import Common XML Entities -->
<!-- -->
<!-- You can resolve the entites with xmllint -->
<!-- -->
<!-- xmllint -noent OS-KSADM-admin.wadl -->
<!--*******************************************************-->
<!DOCTYPE application [
<!ENTITY % common SYSTEM "../common/common.ent">
%common;
]>
<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:identity="http://docs.openstack.org/identity/api/v3"
    xmlns:capi="http://docs.openstack.org/common/api/v1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:db="http://docbook.org/ns/docbook"
    xsi:schemaLocation="http://docs.openstack.org/identity/api/v3 ../common/xsd/api.xsd
    http://docs.openstack.org/common/api/v1.0 ../common/xsd/api-common.xsd
    http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd
    ">

    <grammars>
        <include href="../common/xsd/api.xsd"/> 
        <include href="../common/xsd/api-common.xsd"/>
    </grammars>

    <!--*******************************************************-->
    <!--             All Resources                             -->
    <!--*******************************************************-->

    <!-- We should use SSL in production -->
    <resources base="http://localhost:35357">
        <!-- FYI: double slash needed in path to get a single slash to display -->
        <resource id="versions" path="//v3/versions">
            <method href="#listVersions"/>
        </resource>

        <resource id="tokens" path="//v3/tokens">
            <method href="#authenticateTokens"/> 
            <method href="#validateTokens"/>
            <method href="#checkTokens"/>
            <method href="#revokeTokens"/>                   
        </resource>

        <resource id="catalog" path="//v3/services">
            <method href="#listServices"/>
            <method href="#createService"/>
                <resource id="catalogID" path="{service_id}">
                    <param name="service_id" style="template" type="xsd:string" required="true">
                        <doc>Service to be acted upon</doc>
                    </param>
                    <method href="#getService"/>
                    <method href="#updateService"/>
                    <method href="#deleteService"/>
                </resource>
        </resource>
        
        <resource id="endpoints" path="//v3/endpoints">
            <method href="#listEndpoints"/>
            <method href="#createEndpoint"/>
            <resource id="endpointsID" path="{endpoint_id}">
                <param name="endpoint_id" style="template" type="xsd:string" required="true">
                    <doc>Endpoint to be acted upon</doc>
                </param>
                <method href="#updateEndpoint"/>
                <method href="#deleteEndpoint"/>
            </resource>
        </resource>
        
        <resource id="domains" path="//v3/domains">
            <method href="#listDomains"/>
            <method href="#createDomain"/>
            <resource id="domainID" path="{domain_id}">
                <param name="domain_id" style="template" type="xsd:string" required="true">
                    <doc>Domain to be acted upon</doc>
                </param>
                <method href="#getDomain"/>
                <method href="#updateDomain"/>
                <method href="#deleteDomain"/>
                <resource id="domainIDUserIDRoles" path="users/{user_id}/roles">
                    <param name="user_id" style="template" type="xsd:string" required="true">
                        <doc>User to be acted upon</doc>
                    </param>
                    <method href="#listDomainUserRoles"/>
                    <resource id="domainIDUserIDRoleID" path="{role_id}">
                        <param name="role_id" style="template" type="xsd:string" required="true">
                            <doc>Role to be acted upon</doc>
                        </param>
                        <method href="#grantDomainUserRole"/>
                        <method href="#checkDomainUserRole"/>
                        <method href="#revokeDomainUserRole"/>
                    </resource>
                </resource>
                <resource id="domainIDGroupIDRoles" path="groups/{group_id}/roles">
                    <param name="group_id" style="template" type="xsd:string" required="true">
                        <doc>Group to be acted upon</doc>
                    </param>
                    <method href="#listDomainGroupRoles"/>
                </resource>
                <resource id="domainIDGroupIDRoleID" path="{role_id}">
                    <param name="role_id" style="template" type="xsd:string" required="true">
                        <doc>Role to be acted upon</doc>
                    </param>
                    <method href="#grantDomainGroupRole"/>
                    <method href="#checkDomainGroupRole"/>
                    <method href="#revokeDomainGroupRole"/>
                </resource>
            </resource>
        </resource>
        
        <resource id="projects" path="//v3/projects">
            <method href="#listProjects"/>
            <method href="#createProject"/>
            <resource id="projectID" path="{project_id}">
                <param name="project_id" style="template" type="xsd:string" required="true">
                    <doc>Project to be acted upon</doc>
                </param>
                <method href="#getProject"/>
                <method href="#updateProject"/>
                <method href="#deleteProject"/>
                <resource id="projectIDUsers" path="users">
                    <method href="#listProjectUsers"/>
                    <resource id="projectIDUserIDRoles" path="{user_id}/roles">
                        <param name="user_id" style="template" type="xsd:string" required="true">
                            <doc>User to be acted upon</doc>
                        </param>
                        <method href="#listProjectUserRoles"/>
                        <resource id="projectIDUserIDRoleID" path="{role_id}">
                            <param name="role_id" style="template" type="xsd:string" required="true">
                                <doc>Role to be acted upon</doc>
                            </param>
                            <method href="#grantProjectUserRole"/>
                            <method href="#checkProjectUserRole"/>
                            <method href="#revokeProjectUserRole"/>
                        </resource>
                    </resource>
                </resource>                
                <resource id="projectIDGroupIDRoles" path="groups/{group_id}/roles">
                    <param name="group_id" style="template" type="xsd:string" required="true">
                        <doc>Group to be acted upon</doc>
                    </param>
                    <method href="#listProjectGroupRoles"/>
                </resource>
                <resource id="projectIDGroupIDRoleID" path="{role_id}">
                    <param name="role_id" style="template" type="xsd:string" required="true">
                        <doc>Role to be acted upon</doc>
                    </param>
                    <method href="#grantProjectGroupRole"/>
                    <method href="#checkProjectGroupRole"/>
                    <method href="#revokeProjectGroupRole"/>
                </resource>
            </resource>
        </resource>
        
        <resource id="users" path="//v3/users">
            <method href="#listUsers"/>
            <method href="#createUser"/>
            <resource id="userID" path="{user_id}">
                <param name="user_id" style="template" type="xsd:string" required="true">
                    <doc>User to be acted upon</doc>
                </param>
                <method href="#getUser"/>
                <method href="#updateUser"/>
                <method href="#deleteUser"/>
                <resource id="userIDGroups" path="groups">
                    <method href="#listUserGroups"/>
                </resource>
                <resource id="userIDProjects" path="projects">
                    <method href="#listUserProjects"/>
                </resource>
                <resource id="userIDRoles" path="roles">
                    <method href="#listUserRoles"/>
                </resource>
            </resource>
        </resource>
        
        <resource id="groups" path="//v3/groups">
            <method href="#listGroups"/>
            <method href="#createGroup"/>
            <resource id="groupID" path="{group_id}">
                <param name="group_id" style="template" type="xsd:string" required="true">
                    <doc>Group to be acted upon</doc>
                </param>
                <method href="#getGroup"/>
                <method href="#updateGroup"/>
                <method href="#deleteGroup"/>
                <resource id="groupIDUsers" path="users">
                    <method href="#listGroupUsers"/>
                    <resource id="groupIDUserIDs" path="{user_id}">
                        <method href="#addGroupUser"/>
                        <method href="#deleteGroupUser"/>
                        <method href="#checkGroupUser"/>
                    </resource>
                </resource>
            </resource>
        </resource>

        <resource id="credentials" path="//v3/credentials">
            <method href="#listCredentials"/>
            <method href="#createCredential"/>
            <resource id="credentialID" path="{credential_id}">
                <param name="credential_id" style="template" type="xsd:string" required="true">
                    <doc>Credential to be acted upon</doc>
                </param>
                <method href="#getCredential"/>
                <method href="#updateCredential"/>
                <method href="#deleteCredential"/>
            </resource>
        </resource>
        
        <resource id="roles" path="//v3/roles">
            <method href="#listRoles"/>
            <method href="#createRole"/>
            <resource id="roleID" path="{role_id}">
                <param name="role_id" style="template" type="xsd:string" required="true">
                    <doc>Role to be acted upon</doc>
                </param>
                <method href="#getRole"/>
                <method href="#updateRole"/>
                <method href="#deleteRole"/>
                <resource id="roleIDUsers" path="users">
                    <method href="#listRoleUsers"/>
                </resource>
            </resource>
        </resource>
        
        <resource id="policies" path="//v3/policies">
            <method href="#listPolicies"/>
            <method href="#createPolicy"/>
            <resource id="policyID" path="{policy_id}">
                <param name="policy_id" style="template" type="xsd:string" required="true">
                    <doc>Policy to be acted upon</doc>
                </param>
                <method href="#getPolicy"/>
                <method href="#updatePolicy"/>
                <method href="#deletePolicy"/>
            </resource>
        </resource>
    </resources>
    
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--*******************************************************-->

    <!--Version Operations-->
    <method name="GET" id="listVersions">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List Versions">
            <para class="shortdesc">List Versions.</para>
           <!-- <para> This needs detail to be provided by Identity Team.
            </para> -->
        </wadl:doc>
        &commonFaults;
        &getFaults;
    </method>
    
    <!--Token Operations-->
    <method name="POST" id="authenticateTokens">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Authenticate Tokens">
            <para class="shortdesc">Authenticate Tokens.</para>
            <para> 
                This call returns a token, if successful. Each ReST request requires the inclusion of a 
                specific authorization token HTTP x-header, defined as <code>X-Auth-Token</code>.
                Clients obtain <code>X-Auth-Token</code> and the URL endpoints for other service APIs 
                by supplying their valid credentials to the authentication service.
            </para>
            <para>
                A ReST interface provides client authentication using the POST method, with <code>auth/tokens</code> 
                supplied as the path. The body of the request must include a payload of credentials including the 
                authentication method and, optionally, the authorization scope.  The scope includes either a project
                or a domain.  If both project and domain are included, an "HTTP 400 Bad Request" results, since a token 
                cannot be simultaneously scoped both a project and a domain.
            </para>
            <para>
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <important>
                        <para>
                            If the optional scope is not included and the authenticating user has a defined default 
                            project (the user's <code>default_project_id</code> attribute), then that default will 
                            be treated as the preferred authorization scope.
                        </para>
                        <para>
                            If there is no default project defined, the token will be issued without an explicit 
                            scope of authorization.
                        </para>
                    </important>
                </wadl:doc>
            </para>
            <para>
                You can authenticate by providing any of the following credentials:
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <itemizedlist spacing="compact">
                        <listitem>
                            <para>
                                User ID and Password
                            </para>
                        </listitem>
                        <listitem>
                            <para>
                                User ID and Password with optional Scope (Project ID)
                            </para>
                        </listitem>
                        <listitem>
                            <para>
                                User ID and Password with optional Scope (Domain ID and Project Name)
                            </para>
                        </listitem>
                        <listitem>
                            <para>
                                User ID and Password with optional Scope (Domain Name and Project Name)
                            </para>
                        </listitem>
                        <listitem>
                            <para>
                                User Name, Password and Domain ID
                            </para>
                        </listitem>
                        <listitem>
                            <para>
                                User Name, Password and Domain name
                            </para>
                        </listitem>
                        <listitem>
                            <para>
                                Token
                            </para>
                        </listitem>
                    </itemizedlist>
                </wadl:doc>
            </para>
            <para>
                The examples below demonstrate authentication requests with several kinds of credentials.
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <note>
                        <para>
                            With password authentication, <code>user ID</code> uniquely identifies the user.  
                            However, <code>user name</code> will not uniquely identify the user without either 
                            <code>domain ID</code> or <code>domain name</code>.
                        </para>
                        <para>
                            With token authentication, the <code>token</code> uniquely identifies the user. 
                            This method is typically used in combination with an authorization scope change request.
                        </para>
                        <para>
                            If <code>scope</code> is included, <code>project id</code> uniquely identifies the 
                            <code>project</code>. However, <code>project name</code> will not uniquely identify 
                            the <code>project</code> without either <code>domain ID</code> or <code>domain name</code>.
                        </para>
                    </note>
                </wadl:doc>
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Authenticate (with User ID and Password) Request: JSON">   
                        <xsdxt:code href="../common/samples/TokenAuthPasswordIDRequest.json"/>
                    </xsdxt:sample>
                    <xsdxt:sample title="Authenticate (with Domain ID, User Name, and Password) Request: JSON">   
                        <xsdxt:code href="../common/samples/TokenAuthPasswordNameRequest.json"/>
                    </xsdxt:sample>
                    <xsdxt:sample title="Authenticate (with Domain Name, User Name, and Password) Request: JSON">
                        <xsdxt:code href="../common/samples/TokenAuthPasswordDomainRequest.json"/>
                    </xsdxt:sample>
                    <xsdxt:sample title="Authenticate (with Token) Request: JSON">
                        <xsdxt:code href="../common/samples/TokenAuthTokenRequest.json"/>
                    </xsdxt:sample>  
                    <xsdxt:sample title="Authenticate (with User ID and Password. Scope: Project ID) Request: JSON">   
                        <xsdxt:code href="../common/samples/TokenAuthPasswordIDScopeProjIDRequest.json"/>
                    </xsdxt:sample>
                    <xsdxt:sample title="Authenticate (with User ID and Password. Scope: Domain ID and Project Name) Request: JSON">   
                        <xsdxt:code href="../common/samples/TokenAuthPasswordIDScopeProjNameRequest.json"/>
                    </xsdxt:sample>
                    <xsdxt:sample title="Authenticate (with User ID and Password. Scope: Domain Name and Project Name) Request: JSON">   
                        <xsdxt:code href="../common/samples/TokenAuthPasswordIDScopeProjDomainNameRequest.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <important>
                        <para>
                            As example responses below show, the response to an authentication request
                            returns the token ID in the <code>X-Subject-Token</code> header instead
                            of as part of the token data.
                        </para>
                    </important>
                    <note>
                        <para>
                            If the call had no explicit authorization scope, the response will not contain
                            <code>catalog</code>, <code>project</code>, <code>domain</code>, nor 
                            <code>roles</code>, however the response can still be used to uniquely identify
                            the user.
                        </para>
                    </note>
                    <xsdxt:sample title="Authenticate Without Scope Response: JSON">
                        <xsdxt:code href="../common/samples/TokenAuthNoScopeResponse.json"/>	
                    </xsdxt:sample>
                    <note>
                        <para>
                            A token scoped to a <code>project</code> will also have both a service 
                            <code>catalog</code> and the user's roles applicable to the <code>project</code>.
                        </para>
                    </note>
                    <xsdxt:sample title="Authenticate with Project Scope Response: JSON">
                        <xsdxt:code href="../common/samples/TokenAuthScopeProjectResponse.json"/>	
                    </xsdxt:sample>
                    <note>
                        <para>
                            A token scoped to a <code>domain</code> will also have both a service 
                            <code>catalog</code> and the user's roles applicable to the <code>project</code>.
                        </para>
                    </note>
                    <xsdxt:sample title="Authenticate with Domain Scope Response: JSON">
                        <xsdxt:code href="../common/samples/TokenAuthScopeDomainResponse.json"/>	
                    </xsdxt:sample>
                    
                    <important> 
                        <para>
                            The following examples illustrate several possible HTTP 401 Unauthorized 
                            authentication errors.
                            Other errors like HTTP 403 Forbidden and HTTP 409 Conflict are also possible.
                        </para>
                    </important> 
                    <xsdxt:sample title="Error: Basic HTTP 401 Not Authorized Response: JSON">
                        <xsdxt:code href="../common/samples/TokenAuthFail401aResponse.json"/>	
                    </xsdxt:sample>
                    <note>
                        <para>
                            Optionally, the identity service implementation may return a 
                            <code>authentication</code> attribute to indicate the supported authentication
                            methods.
                        </para>
                    </note>
                    <xsdxt:sample title="Error: HTTP 401 Not Authorized with Supported Methods Response: JSON">
                        <xsdxt:code href="../common/samples/TokenAuthFail401bResponse.json"/>	
                    </xsdxt:sample>
                    <note>
                        <para>
                            For authentication processes which require multiple round trips, the identity
                            service implementation may return and HTTP 401 Not Authorized with additional
                            information for the next authentication step.
                        </para>
                    </note>
                    <xsdxt:sample title="Error: HTTP 401 Not Authorized with Next Step Information Response: JSON">
                        <xsdxt:code href="../common/samples/TokenAuthFail401cResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>

    <method name="GET" id="validateTokens">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Validate Tokens">
            <para class="shortdesc">Validate Tokens.</para>
            <para> To validate a token using Identity API,
                pass your own token in the <code>X-Auth-Token</code> header and the token to be validated
                in the <code>X-Subject-Token</code> header.  The Identity service will return the exact
                same response as when the subject token was issued by <code>POST /auth/tokens</code>.
            </para>
            <para>
                <xsdxt:code href="../common/samples/TokenValidateRequest.txt"/>
            </para>
            <para>This operation does not require a request body.</para>
        </wadl:doc>
<!--No request body is provided-->
        <request>
            <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">You need a valid admin token for access.</wadl:doc>
            </param>
            <param name="X-Subject-Token" style="header" type="xsd:string" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">The token being acted on.</wadl:doc>
            </param>
        </request>
        <response status="200 203">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Validate Token Response: JSON">
                        <xsdxt:code href="../common/samples/TokenAuthNoScopeResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="HEAD" id="checkTokens">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Check Tokens">
            <para class="shortdesc">Check Tokens.</para>
            <para> This call is similar to <code>GET /auth/tokens</code>,
                but no response body is provided even in the <code>X-Subject-Token</code> header.  
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <important>
                        <para>
                            The Identity service will return the exact same response as when the subject 
                            token was issued by <code>POST /auth/tokens</code>, even if an error occurs
                            because the token is invalid. A 204 response indicates that the 
                            <code>X-Subject-Token</code> is valid.
                        </para>
                    </important>
                </wadl:doc>
            </para>
            <para>This operation does not require a request body.</para>
        </wadl:doc>
        <!--There is no request-->
        <request>
            <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">You need a valid admin token for access.</wadl:doc>
            </param>
            <param name="X-Subject-Token" style="header" type="xsd:string" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">The token being acted on.</wadl:doc>
            </param>
        </request>
        <!--There is no response.  As noted above, an HTTP 204 indicates success-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="revokeTokens">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Revoke Tokens">
            <para class="shortdesc">Revoke Tokens.</para>
            <para> This call is similar to <code>HEAD /auth/tokens</code>,
                except that the <code>X-Subject-Token</code> token is immediately invalidated (regardless of the 
                <code>expires_at</code> attribute).  An additional <code>X-Auth-Token</code> is not required.
            </para>
            <para>This operation does not require a request body.</para>
        </wadl:doc>
        <!--There is no request-->
        <request>
            <param name="X-Auth-Token" style="header" type="xsd:string" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">You need a valid admin token for access.</wadl:doc>
            </param>
            <param name="X-Subject-Token" style="header" type="xsd:string" required="true">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">The token being acted on.</wadl:doc>
            </param>
        </request>
        <!--There is no response-->
        &commonFaults;
        &getFaults;
    </method>
    
    <!--Catalog Operations-->
    <method name="GET" id="listServices">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List Services">
            <para class="shortdesc">List Services.</para>
            <para> This needs detail to be provided by Identity Team.</para>
            <para>Optionally, you can filter for "<code>type</code>"
                or use query strings "<code>page</code>" or "<code>per_page</code>".</para>
            <para>This operation does not require a request body.</para>
        </wadl:doc>
        <request>
            <param name="page" style="query" type="xsd:string" required="false"/>
            <param name="per_page" style="query" type="xsd:string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    Defaults to 30.
                </wadl:doc>
            </param>
        </request>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List Services Response: JSON">
                        <xsdxt:code href="../common/samples/ServicesListResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="POST" id="createService">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Create Service">
            <para class="shortdesc">Create Service.</para>
            <para> This needs detail to be provided by Identity Team.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Create Service Request: JSON">   
                        <xsdxt:code href="../common/samples/ServiceCreateRequest.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Create Service Response: JSON">
                        <xsdxt:code href="../common/samples/ServiceCreateResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="getService">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Get Service">
            <para class="shortdesc">Get Service.</para>
            <para>This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Get Service Response: JSON">
                        <xsdxt:code href="../common/samples/ServiceGetResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PATCH" id="updateService">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Update Service">
            <para class="shortdesc">Update Service.</para>
            <para> This needs detail to be provided by Identity Team.
            </para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Update Service Response: JSON">
                        <xsdxt:code href="../common/samples/ServiceUpdateResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="deleteService">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Delete Service">
            <para class="shortdesc">Delete Service.</para>
            <!--<para> This needs detail to be provided by Identity Team.</para> -->
                <warning>
                    <para>
                        Deleting a service when endpoints exist should either (1) delete all
                        associated endpoints or (2) fail until endpoints are deleted. 
                    </para>
                </warning>     
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <!--Endpoint Operations-->
    <method name="GET" id="listEndpoints">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List Endpoints">
            <para class="shortdesc">List Endpoints.</para>
            <para> This needs detail to be provided by Identity Team.</para>
            <para> Optionally, you may filter for "<code>interface</code>"
                or "<code>service-id</code>".  You may also use optional query strings 
                "<code>page</code>" or "<code>per_page</code>".</para>
            <para>This operation does not require a request body.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <request>
            <param name="page" style="query" type="xsd:string" required="false"/>
            <param name="per_page" style="query" type="xsd:string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    Defaults to 30.
                </wadl:doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List Endpoints Response: JSON">
                        <xsdxt:code href="../common/samples/EndpointsListResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="POST" id="createEndpoint">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Create Endpoint">
            <para class="shortdesc">Create Endpoint.</para>
            <para> This needs detail to be provided by Identity Team.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Create Endpoint Request: JSON">   
                        <xsdxt:code href="../common/samples/EndpointCreateRequest.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Create Endpoint Response: JSON">
                        <xsdxt:code href="../common/samples/EndpointCreateResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PATCH" id="updateEndpoint">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Update Endpooint">
            <para class="shortdesc">Update Endpoint.</para>
            <para> This needs detail to be provided by Identity Team.
            </para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Update Endpoint Response: JSON">
                        <xsdxt:code href="../common/samples/EndpointUpdateResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="deleteEndpoint">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Delete Endpoint">
            <para class="shortdesc">Delete Endpoint.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <!--Domain Operations-->
    <method name="GET" id="listDomains">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List Domains">
            <para class="shortdesc">List Domains.</para>
            <para> This needs detail to be provided by Identity Team.</para>
            <para>Optionally, you can filter for "<code>name</code>" or
                "<code>enabled</code>".  You can also use optional
                query strings "<code>page</code>" or "<code>per_page</code>".</para>
            <para>This operation does not require a request body.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <request>
            <param name="page" style="query" type="xsd:string" required="false"/>
            <param name="per_page" style="query" type="xsd:string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    Defaults to 30.
                </wadl:doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List Domains Response: JSON">
                        <xsdxt:code href="../common/samples/DomainsListResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="POST" id="createDomain">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Create Domain">
            <para class="shortdesc">Create Domain.</para>
            <para> This needs detail to be provided by Identity Team.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Create Domain Request: JSON">   
                        <xsdxt:code href="../common/samples/DomainCreateRequest.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Create Domain Response: JSON">
                        <xsdxt:code href="../common/samples/DomainCreateResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="getDomain">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Get Domain">
            <para class="shortdesc">Get Domain.</para>
            <para>This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Get Domain Response: JSON">
                        <xsdxt:code href="../common/samples/DomainGetResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PATCH" id="updateDomain">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Update Domain">
            <para class="shortdesc">Update Domain.</para>
            <para> This needs detail to be provided by Identity Team.
            </para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Update Domain Response: JSON">
                        <xsdxt:code href="../common/samples/DomainUpdateResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="deleteDomain">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Delete Domain">
            <para class="shortdesc">Delete Domain.</para>
         <!--   <para> This needs detail to be provided by Identity Team.</para> -->
            <para>To minimize the risk of accidentally deleting a domain, you must first 
                disable the domain, using the update domain API.  If you try to delete an enabled 
                domain, the call will return an HTTP 403 Forbidden response.
            </para>
                <warning>
                    <para>
                        Deleting a domain will delete all entities owned by it (<code>Users, Groups,
                        and Projects</code>), as well as any Credentials and Role grants that relate
                        to those entities.
                    </para>
                </warning>  
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
   
    <method name="GET" id="listDomainUserRoles">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List Domain User Roles">
            <para class="shortdesc">List User's Roles on Domain.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List Domain User Roles Response: JSON">
                        <xsdxt:code href="../common/samples/DomainListUserRolesResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PUT" id="grantDomainUserRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Grant Domain User Role">
            <para class="shortdesc">Grant Role to User on Domain.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="HEAD" id="checkDomainUserRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Check Domain User Role">
            <para class="shortdesc">Check if User has Role on Domain.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="revokeDomainUserRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Revoke Domain User Role">
            <para class="shortdesc">Revoke Role from User on Domain.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
   
    <method name="GET" id="listDomainGroupRoles">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List Domain Group Roles">
            <para class="shortdesc">List Group's Roles on Domain.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List Domain Group Roles Response: JSON">
                        <xsdxt:code href="../common/samples/DomainListGroupRolesResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PUT" id="grantDomainGroupRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Grant Domain Group Role">
            <para class="shortdesc">Grant Role to Group on Domain.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="HEAD" id="checkDomainGroupRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Check Domain Group Role">
            <para class="shortdesc">Check if Group has Role on Domain.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="revokeDomainGroupRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Revoke Domain Group Role">
            <para class="shortdesc">Revoke Role from Group on Domain.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <!--Project Operations-->
    <method name="GET" id="listProjects">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List Projects">
            <para class="shortdesc">List Projects.</para>
            <para> This needs detail to be provided by Identity Team.</para>
            <para>Optionally, you can filter for "<code>domain_id</code>",
                "<code>enabled</code>", or "<code>name</code>".  You can also use optional
                query strings "<code>page</code>" or "<code>per_page</code>".</para>
            <para>This operation does not require a request body.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <request>
            <param name="page" style="query" type="xsd:string" required="false"/>
            <param name="per_page" style="query" type="xsd:string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    Defaults to 30.
                </wadl:doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List Projects Response: JSON">
                        <xsdxt:code href="../common/samples/ProjectsListResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="POST" id="createProject">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Create Project">
            <para class="shortdesc">Create Project.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Create Project Request: JSON">   
                        <xsdxt:code href="../common/samples/ProjectCreateRequest.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Create Project Response: JSON">
                        <xsdxt:code href="../common/samples/ProjectCreateResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="getProject">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Get Project">
            <para class="shortdesc">Get Project.</para>
            <para>This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Get Project Response: JSON">
                        <xsdxt:code href="../common/samples/ProjectGetResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PATCH" id="updateProject">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Update Project">
            <para class="shortdesc">Update Project.</para>
            <para> This needs detail to be provided by Identity Team.
            </para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Update Project Response: JSON">
                        <xsdxt:code href="../common/samples/ProjectUpdateResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="deleteProject">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Delete Project">
            <para class="shortdesc">Delete Project.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
   
    <method name="GET" id="listProjectUsers">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List Project Users">
            <para class="shortdesc">List Project Users.</para>
            <para> This needs detail to be provided by Identity Team.</para>
            <para>Optionally, you can filter for "<code>name</code>", 
                "<code>enabled</code>", or "<code>email</code>" on user resources. You can also use optional
                query strings "<code>page</code>" or "<code>per_page</code>".</para>
            <para>This operation does not require a request body.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <request>
            <param name="page" style="query" type="xsd:string" required="false"/>
            <param name="per_page" style="query" type="xsd:string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    Defaults to 30.
                </wadl:doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List Project Users Response: JSON">
                        <xsdxt:code href="../common/samples/ProjectListUsersResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="listProjectUserRoles">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List Project User Roles">
            <para class="shortdesc">List User's Roles on Project.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List Project User Roles Response: JSON">
                        <xsdxt:code href="../common/samples/ProjectListUserRolesResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PUT" id="grantProjectUserRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Grant Project User Role">
            <para class="shortdesc">Grant Role to User on Project.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="HEAD" id="checkProjectUserRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Check Project User Role">
            <para class="shortdesc">Check if User has Role on Project.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="revokeProjectUserRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Revoke Project User Role">
            <para class="shortdesc">Revoke Role from User on Project.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="listProjectGroupRoles">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List Project Group Roles">
            <para class="shortdesc">List Group's Roles on Project.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List Project Group Roles Response: JSON">
                        <xsdxt:code href="../common/samples/ProjectListGroupRolesResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PUT" id="grantProjectGroupRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Grant Project Group Role">
            <para class="shortdesc">Grant Role to Group on Project.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="HEAD" id="checkProjectGroupRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Check Project Group Role">
            <para class="shortdesc">Check if Group has Role on Project.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="revokeProjectGroupRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Revoke Domain Group Role">
            <para class="shortdesc">Revoke Role from Group on Project.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <!--User Operations-->
    <method name="GET" id="listUsers">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List Users">
            <para class="shortdesc">List Users.</para>
            <para> This needs detail to be provided by Identity Team.</para>
            <para>Optionally, you can filter for "<code>domain_id</code>",
                "<code>enabled</code>", "<code>email</code>", or "<code>name</code>".  You can also use 
                optional query strings "<code>page</code>" or "<code>per_page</code>".</para>
            <para>This operation does not require a request body.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <request>
            <param name="page" style="query" type="xsd:string" required="false"/>
            <param name="per_page" style="query" type="xsd:string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    Defaults to 30.
                </wadl:doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List Users Response: JSON">
                        <xsdxt:code href="../common/samples/UsersListResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="POST" id="createUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Create User">
            <para class="shortdesc">Create User.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Create User Request: JSON">   
                        <xsdxt:code href="../common/samples/UserCreateRequest.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Create User Response: JSON">
                        <xsdxt:code href="../common/samples/UserCreateResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="getUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Get User">
            <para class="shortdesc">Get User.</para>
            <para>This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Get User Response: JSON">
                        <xsdxt:code href="../common/samples/UserGetResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PATCH" id="updateUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Update User">
            <para class="shortdesc">Update User.</para>
            <para>This needs detail to be provided by Identity Team.</para>
            <para>
                Use this method to update user password or enable/disable the user.  This may return HTTP 
                <code>501 Not Implemented</code> code if the back-end driver doesn't allow this 
                functionality.
            </para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Update User Response: JSON">
                        <xsdxt:code href="../common/samples/UserUpdateResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="deleteUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Delete User">
            <para class="shortdesc">Delete User.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="listUserProjects">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List User Projects">
            <para class="shortdesc">List User Projects.</para>
            <para> This needs detail to be provided by Identity Team.</para>
            <para>Optionally, you can filter for "<code>name</code>", 
                or "<code>enabled</code>" on project resources. You can also use optional
                query strings "<code>page</code>" or "<code>per_page</code>".</para>
            <para>This operation does not require a request body.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <request>
            <param name="page" style="query" type="xsd:string" required="false"/>
            <param name="per_page" style="query" type="xsd:string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    Defaults to 30.
                </wadl:doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List User Projects Response: JSON">
                        <xsdxt:code href="../common/samples/UserListProjectsResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="listUserGroups">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List User Groups">
            <para class="shortdesc">List User Groups.</para>
            <para>This needs detail to be provided by Identity Team.</para>
            <para>Optionally, you can filter for "<code>name</code>" 
                on group resources. You can also use optional query strings "<code>page</code>" or 
                "<code>per_page</code>".</para>
            <para>This operation does not require a request body.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <request>
            <param name="page" style="query" type="xsd:string" required="false"/>
            <param name="per_page" style="query" type="xsd:string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    Defaults to 30.
                </wadl:doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List User Groups Response: JSON">
                        <xsdxt:code href="../common/samples/UserListGroupsResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="listUserRoles">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List User Roles">
            <para class="shortdesc">List User Roles.</para>
            <para>This needs detail to be provided by Identity Team.</para>
            <para>You can also use optional query strings "<code>page</code>" or 
                "<code>per_page</code>".</para>
            <para>This operation does not require a request body.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <request>
            <param name="page" style="query" type="xsd:string" required="false"/>
            <param name="per_page" style="query" type="xsd:string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    Defaults to 30.
                </wadl:doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List User Roles Response: JSON">
                        <xsdxt:code href="../common/samples/UserListRolesResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <!--Group Operations-->
    <method name="GET" id="listGroups">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List Users">
            <para class="shortdesc">List Groups.</para>
            <para> This needs detail to be provided by Identity Team.</para>
            <para>Optionally, you can filter for "<code>domain_id</code>",
                 or "<code>name</code>".  You can also use 
                optional query strings "<code>page</code>" or "<code>per_page</code>".</para>
            <para>This operation does not require a request body.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <request>
            <param name="page" style="query" type="xsd:string" required="false"/>
            <param name="per_page" style="query" type="xsd:string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    Defaults to 30.
                </wadl:doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List Groups Response: JSON">
                        <xsdxt:code href="../common/samples/GroupsListResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="POST" id="createGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Create Group">
            <para class="shortdesc">Create Group.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Create Group Request: JSON">   
                        <xsdxt:code href="../common/samples/GroupCreateRequest.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Create Group Response: JSON">
                        <xsdxt:code href="../common/samples/GroupCreateResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="getGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Get Group">
            <para class="shortdesc">Get Group.</para>
            <para>This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Get Group Response: JSON">
                        <xsdxt:code href="../common/samples/GroupGetResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PATCH" id="updateGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Update Group">
            <para class="shortdesc">Update Group.</para>
            <para>This needs detail to be provided by Identity Team.</para>
            <para>
                Use this method to update name and/or description of group.  This may return HTTP 
                <code>501 Not Implemented</code> code if the back-end driver doesn't allow this 
                functionality.
            </para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Update Group Response: JSON">
                        <xsdxt:code href="../common/samples/GroupUpdateResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="deleteGroup">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Delete Group">
            <para class="shortdesc">Delete Group.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PUT" id="addGroupUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Add User to Group">
            <para class="shortdesc">Add User to Group.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="deleteGroupUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Remove User from Group">
            <para class="shortdesc">Remove User from Group.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="HEAD" id="checkGroupUser">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Check if User in Group">
            <para class="shortdesc">Check if User in Group.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="listGroupUsers">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List Group Users">
            <para class="shortdesc">List Group Users.</para>
            <para> This needs detail to be provided by Identity Team.</para>
            <para>Optionally, you can filter for "<code>name</code>", 
                "<code>enabled</code>", or "<code>email</code>" on group resources. You can also use 
                optional query strings "<code>page</code>" or "<code>per_page</code>".</para>
            <para>This operation does not require a request body.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <request>
            <param name="page" style="query" type="xsd:string" required="false"/>
            <param name="per_page" style="query" type="xsd:string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    Defaults to 30.
                </wadl:doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List Group Users Response: JSON">
                        <xsdxt:code href="../common/samples/GroupListUsersResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <!--Credential Operations-->
    <method name="GET" id="listCredentials">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List Credentials">
            <para class="shortdesc">List Credentials.</para>
            <para> This needs detail to be provided by Identity Team.</para>
            <para>Optionally, you can use query strings 
                "<code>page</code>" or "<code>per_page</code>".</para>
            <para>This operation does not require a request body.</para>
        </wadl:doc>
        <request>
            <param name="page" style="query" type="xsd:string" required="false"/>
            <param name="per_page" style="query" type="xsd:string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    Defaults to 30.
                </wadl:doc>
            </param>
        </request>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List Credentials Response: JSON">
                        <xsdxt:code href="../common/samples/CredentialsListResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="POST" id="createCredential">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Create Credential">
            <para class="shortdesc">Create Credential.</para>
            <para> This needs detail to be provided by Identity Team.
            </para>
            <para> 
                The example below shows creating an EC2 style credential where the credentials are a
                combination of access_key and secret. Other credentials (such as access_key) may be 
                supported simply by changing the content of the key data.
            </para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Create Credential Request: JSON">   
                        <xsdxt:code href="../common/samples/CredentialCreateRequest.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Create Credential Response: JSON">
                        <xsdxt:code href="../common/samples/CredentialCreateResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="getCredential">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Get Credential">
            <para class="shortdesc">Get Credential.</para>
            <para>This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Get Credential Response: JSON">
                        <xsdxt:code href="../common/samples/CredentialGetResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PATCH" id="updateCredential">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Update Credential">
            <para class="shortdesc">Update Credential.</para>
            <para> This needs detail to be provided by Identity Team.
            </para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Update Credential Response: JSON">
                        <xsdxt:code href="../common/samples/CredentialUpdateResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="deleteCredential">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Delete Credential">
            <para class="shortdesc">Delete Credential.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
   
    <!--Role Operations-->
    <method name="GET" id="listRoles">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List Roles">
            <para class="shortdesc">List Roles.</para>
            <para> This needs detail to be provided by Identity Team.</para>
            <para>Optionally, you can filter for "<code>name</code>". 
                You can also use optional query strings 
                "<code>page</code>" or "<code>per_page</code>".</para>
            <para>This operation does not require a request body.</para>
        </wadl:doc>
        <request>
            <param name="page" style="query" type="xsd:string" required="false"/>
            <param name="per_page" style="query" type="xsd:string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    Defaults to 30.
                </wadl:doc>
            </param>
        </request>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List Roles Response: JSON">
                        <xsdxt:code href="../common/samples/RolesListResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="POST" id="createRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Create Role">
            <para class="shortdesc">Create Role.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Create Role Request: JSON">   
                        <xsdxt:code href="../common/samples/RoleCreateRequest.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Create Role Response: JSON">
                        <xsdxt:code href="../common/samples/RoleCreateResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="getRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Get Role">
            <para class="shortdesc">Get Role.</para>
            <para>This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Get Role Response: JSON">
                        <xsdxt:code href="../common/samples/RoleGetResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PATCH" id="updateRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Update Role">
            <para class="shortdesc">Update Role.</para>
            <para> This needs detail to be provided by Identity Team.
            </para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Update Role Response: JSON">
                        <xsdxt:code href="../common/samples/RoleUpdateResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="deleteRole">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Delete Role">
            <para class="shortdesc">Delete Role.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="listRoleUsers">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List Role Users">
            <para class="shortdesc">List Role Users.</para>
            <para> This needs detail to be provided by Identity Team.</para>
            <para>Optionally, you can filter for "<code>name</code>", 
                "<code>enabled</code>", or "<code>email</code>" on role resources. You can also use 
                optional query strings "<code>page</code>" or "<code>per_page</code>".</para>
            <para>This operation does not require a request body.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <request>
            <param name="page" style="query" type="xsd:string" required="false"/>
            <param name="per_page" style="query" type="xsd:string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    Defaults to 30.
                </wadl:doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List Role Users Response: JSON">
                        <xsdxt:code href="../common/samples/RoleListUsersResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <!--Policy Operations-->
    <method name="GET" id="listPolicies">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="List Policies">
            <para class="shortdesc">List Policies.</para>
            <para> This needs detail to be provided by Identity Team.</para>
            <para>Optionally, you can filter for "<code>type</code>". 
                You can also use optional query strings 
                "<code>page</code>" or "<code>per_page</code>".</para>
            <para>This operation does not require a request body.</para>
        </wadl:doc>
        <request>
            <param name="page" style="query" type="xsd:string" required="false"/>
            <param name="per_page" style="query" type="xsd:string" required="false">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    Defaults to 30.
                </wadl:doc>
            </param>
        </request>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="List Policies Response: JSON">
                        <xsdxt:code href="../common/samples/PoliciesListResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="POST" id="createPolicy">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Create Policy">
            <para class="shortdesc">Create Policy.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Create Policy Request: JSON">   
                        <xsdxt:code href="../common/samples/PolicyCreateRequest.json"/>
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Create Policy Response: JSON">
                        <xsdxt:code href="../common/samples/PolicyCreateResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="GET" id="getPolicy">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Get Policy">
            <para class="shortdesc">Get Policy.</para>
            <para>This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Get Policy Response: JSON">
                        <xsdxt:code href="../common/samples/PolicyGetResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="PATCH" id="updatePolicy">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Update Policy">
            <para class="shortdesc">Update Policy.</para>
            <para> This needs detail to be provided by Identity Team.
            </para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="200">
            <representation mediaType="application/json">
                <wadl:doc xmlns="http://docbook.org/ns/docbook">
                    <xsdxt:sample title="Update Policy Response: JSON">
                        <xsdxt:code href="../common/samples/PolicyUpdateResponse.json"/>	
                    </xsdxt:sample>
                </wadl:doc>
            </representation>
        </response>
        &commonFaults;
        &getFaults;
    </method>
    
    <method name="DELETE" id="deletePolicy">
        <wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="Delete Policy">
            <para class="shortdesc">Delete Policy.</para>
            <para> This needs detail to be provided by Identity Team.</para>
        </wadl:doc>
        <!--No request body is provided-->
        <response status="204">
        </response>
        &commonFaults;
        &getFaults;
    </method>
</application>